@page
@model NewRecap.Pages.Account.EditPasswordModel
@{
}

<div class="row text-center">
    <div class="col-12">
        <label class="form-label fs-1" id="LabelText">Edit Password</label>
    </div>
</div>

<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-4">
            <label asp-for="NewPassword.MyPassword" class="form-label" id="LabelText">New Password</label>
        </div>
        <div class="col-12">
            @* Show password rule errors *@
            @if (Model.PasswordErrors != null && Model.PasswordErrors.Count > 0)
            {
                <div class="text-danger mb-2">
                    <ul class="mb-0">
                        @foreach (var error in Model.PasswordErrors)
                        {
                            <li>@error</li>
                        }
                    </ul>
                </div>
            }
            <input asp-for="NewPassword.MyPassword" type="password" class="form-control" />
            <span asp-validation-for="NewPassword.MyPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <label asp-for="NewPassword.ConfirmPassword" class="form-label" id="LabelText">Confirm Password</label>
        </div>
        <div class="col-12">
            <input asp-for="NewPassword.ConfirmPassword" type="password" class="form-control" />
            <span asp-validation-for="NewPassword.ConfirmPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="row my-2">
        <div class="col-12">
            <button type="submit" class="form-control btn btn-primary">Confirm Edit</button>
        </div>
    </div>
</form>