@page
@model NewRecap.Pages.Account.LoginModel
@{
}


<div class="row text-center">
    <div class="col-12">
        <label class="form-label fs-1" id="LabelText">Login</label>
    </div>
</div>
<form method="post">
    <div class="row">
        <div class="col-4">
            <label asp-for="LoginUser.Username" class="form-label" id="LabelText">Username:</label>
        </div>
        <div class="col-12">
            <input asp-for="LoginUser.Username" class="form-control" />
            <span asp-validation-for="LoginUser.Username" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label asp-for="LoginUser.Password" class="form-label" id="LabelText">Password:</label>
        </div>
        <div class="col-12">
            <input asp-for="LoginUser.Password" type="password" class="form-control" />
            <span asp-validation-for="LoginUser.Password" class="text-danger"></span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col d-flex justify-content-center">
            <button type="submit" class="btn btn-primary justify-content-center w-100">Login</button>
        </div>
    </div>
</form>