@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <a href="/RecapAdder/AddHardwareRecap" class="box">Hardware Recap</a>
    <a href="/RecapAdder/AddRecap" class="box">Recap</a>
</div>
