@page
@model NewRecap.Pages.AdminPages.AddVehicleModel
@{
}

<div class="row text-center">
    <div class="col-12">
        <label class="form-label fs-1" id="LabelText">Add Vehicle</label>
    </div>
</div>

<form method="post">
    <div class="row">

        <!--===================Vehicle Number Textbox==================-->
        <div class="row">
            <div class="col-4">
                <label asp-for="NewVehicles.VehicleNumber" class="form-label" id="LabelText">Vehicle Number:</label>
            </div>
            <div class="col-12">
                <input asp-for="NewVehicles.VehicleNumber" type="text" class="form-control" />
                <span asp-validation-for="NewVehicles.VehicleNumber" class="text-danger"></span>
            </div>
        </div>
        <!--===================End of Vehicle Number Textbox==================-->

        <!--===================Vehicle Model Textbox==================-->
        <div class="row">
            <div class="col-4">
                <label asp-for="NewVehicles.VehicleModel" class="form-label" id="LabelText">Vehicle Model:</label>
            </div>
            <div class="col-12">
                <input asp-for="NewVehicles.VehicleModel" type="text" class="form-control" />
                <span asp-validation-for="NewVehicles.VehicleModel" class="text-danger"></span>
            </div>
        </div>
        <!--===================End of Vehicle Name Textbox==================-->

        <!--===================Submit Button==================-->
        <div class="row my-2">
            <div class="col-12">
                <button type="submit" class="form-control btn btn-primary"> Confirm </button>
            </div>
        </div>
        <!--===================End of Submit Button==================-->
    </div>
</form>