@page
@model NewRecap.Pages.AdminPages.EditEmployeeIsActiveModel
@{
}

<div class="row text-center">
    <div class="col-12">
        <label class="form-label fs-1" id="LabelText">Edit Employee Is Active</label>
    </div>
</div>

<form method="post" enctype="multipart/form-data">
    <div class="row my-2">
        <div class="col-4">
            <label asp-for="Employees.IsActive" class="form-label" id="LabelText">Status:</label>
        </div>
        <div class="col-12">
            <select asp-for="Employees.IsActive" class="form-control">
                <option value="true">Active</option>
                <option value="false">Inactive</option>
            </select>
            <span asp-validation-for="Employees.IsActive" class="text-danger"></span>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-12">
            <button type="submit" class="form-control btn btn-primary">Confirm Edit</button>
        </div>
    </div>
</form>