@page
@model NewRecap.Pages.AdminPages.EditEmployeeLNameModel
@{
}

<div class="row text-center">
    <div class="col-12">
        <label class="form-label fs-1" id="LabelText">Edit Employee Last Name</label>
    </div>
</div>