@page
@model NewRecap.Pages.AdminPages.EditToolKitModel
@{
}

<div class="row text-center">
    <div class="col-12">
        <label class="form-label fs-1" id="LabelText">Edit Toolkit</label>
    </div>
</div>

<form method="post" enctype="multipart/form-data">
    <div class="row my-2">
        <div class="col-12">
            <label asp-for="ToolKits.ToolKitName" class="form-label" id="LabelText">Toolkit Name:</label>
        </div>
        <div class="col-12">
            <input asp-for="ToolKits.ToolKitName" type="text" class="form-control" />
            <span asp-validation-for="ToolKits.ToolKitName" class="text-danger"></span>
        </div>
    </div>

    <div class="row my-2">
        <div class="col-12">
            <label asp-for="ToolKits.BarcodeValue" class="form-label" id="LabelText">Toolkit Barcode:</label>
        </div>
        <div class="col-12">
            <input asp-for="ToolKits.BarcodeValue" type="text" class="form-control" />
            <span asp-validation-for="ToolKits.BarcodeValue" class="text-danger"></span>
        </div>
    </div>

    <div class="row my-2">
        <div class="col-12">
            <button type="submit" class="form-control btn btn-primary">Confirm Edit</button>
        </div>
    </div>
</form>