@page
@model NewRecap.Pages.CheckoutToolKit.ToolKitCheckoutModel
@{
}

<div class="row text-center">
    <div class="col-12">
        <label class="form-label fs-1" id="LabelText">Checkout Toolkit</label>
    </div>
</div>

<form method="post">
    <!--Toolkit DropDown-->
    <div class="col-6 mt-2">
        <label asp-for="SelectedToolKitId" class="form-label" id="LabelText">Toolkits:</label>
    </div>
    <div class="col-12">
        <select asp-for="SelectedToolKitId" asp-items="Model.ToolKitOptions" class="form-control">
            <option value="0">---Select Toolkit---</option>
        </select>
        <span asp-validation-for="SelectedToolKitId" class="text-danger"></span>
    </div>
    <!--End of Toolkit DropDown-->

    <div class="row my-2">
        <div class="col-12">
            <button type="submit" class="form-control btn btn-primary">
                <i class="bi bi-box-arrow-in-right"></i> Checkout
            </button>
        </div>
    </div>
</form>
